Author: Roberto Carlos Mendoza <br>
<a href="https://github.com/carlosmend">Github <br>
<a href="www.linkedin.com/in/carlosmendozagiraldo">Linkedin

In [ ]:
import re
import string

!pip install googletrans==4.0.0-rc1
from googletrans import Translator

First of all, you need a function to clean up your text

In [2]:

def clean_text(text):
    # Lowercase text
    text = text.lower()

    #Remove URLs
    text=re.sub(r'http:?\S+','',text)

    # Remove punctuation characters, retaining tilde and comma.
    text = re.sub("[%s]" % re.escape(string.punctuation.replace(',','').replace('.','')), " ", text)
    
    #Remve characters that do not belong to the ASCII system
    text = re.sub('[^\x00-\x7F]+', ' ', text)

    #eliminar espacios dobles
    text=text.split()
    text = " ".join(text)
    


    return text

Here in the function, you must source en destine

In [3]:
def translate(text):
  traductor=Translator()
  #Here you must specify the source and target (dest) languaje   en->english, es-> spanish
  return traductor.translate(text,src="en",dest="es").text

Why clean up text first?

In [28]:
text="#❤whats'up bro! i_think that the Simpson are #funny and #great"
translate(text)

"#❤whats'up hermano!I_tink que los Simpson son #Funny y #Great"

Now translate with text clean up

In [29]:
text_clean=clean_text(text)
print("clean text: ",text_clean)
translate(text_clean)

clean text:  whats up bro i think that the simpson are funny and great

'¿Qué pasa hermano? Creo que los Simpson son divertidos y geniales'

But, how to translate many text in a list? <br>
* Map function
* List comprehension

In [56]:
texts=['I need your help with something important','Can you please pass me the salt?',"I love spending time with my family"]

print("map")
texts_trans=list(map(clean_text,texts))
texts_trans=list(map(translate,texts))
print(texts_trans)

print(" ")

print("list comprehension")
texts_trans=[translate(x) for x in texts ]
texts_trans

map
['Necesito tu ayuda con algo importante', '¿Puedes pasarme la sal?', 'Me encanta pasar tiempo con mi familia']

list comprehension

['Necesito tu ayuda con algo importante',
 '¿Puedes pasarme la sal?',
 'Me encanta pasar tiempo con mi familia']

finally, how to translate many text in a dataset? <br>
* Apply function

In [60]:
import pandas as pd
texts=['I need your help with something important','Can you please pass me the salt?',"I love spending time with my family"]
dataset=pd.DataFrame(texts, columns=['text_english'])
dataset.head()

                                text_english
0  I need your help with something important
1           Can you please pass me the salt?
2        I love spending time with my family

In [62]:
dataset['text_spanish']=dataset['text_english'].apply(translate)
dataset.head()

,text_english,text_spanish
0,I need your help with something important,Necesito tu ayuda con algo importante
1,Can you please pass me the salt?,¿Puedes pasarme la sal?
2,I love spending time with my family,Me encanta pasar tiempo con mi familia